<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор отпускных</title>
</head>
<body>
<form method="GET" action="/calculator">
    <label for="averageSalary">Средняя заработная плата за 12 месяцев</label>
    <input type="number" name="averageSalary" id="averageSalary"/>
    <br/>
    <label for="countDays">Количество дней отпуска</label>
    <input type="number" name="countDays" id="countDays"/>
    <br/>
    <input type="submit" value="Рассчитать"/>
</form>
<div>
    <p> Ваши отпускные выплаты составляют: </p>
    <span th:text="${calculator}"></span>
</div>

</body>
</html>